# Chaves de API para Modelos de IA
GROQ_API_KEY=
GOOGLE_API_KEY=


# Endereço do Backend Java (para realizar buscas de pedidos)
BACKEND_URL=http://localhost:8080
# Necessário para validar tokens JWT emitidos pelo backend
JWT_SECRET=secret

# Somente necessário se rodar com docker
# MELHOR_ENVIO_API_TOKEN=


# Conexão com o Banco de Dados (Deve ter a extensão vector ativada)
# Pode optar por passar a URL completa ou as variáveis individuais
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/riffhouse
DB_HOST=localhost
DB_PORT=5432
DB_NAME=riffhouse
DB_USERNAME=postgres
DB_PASSWORD=postgres


# RabbitMq
# Pode optar por passar a URL completa ou as variáveis individuais
# RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=guest
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest


# REDIS
# Pode optar por passar a URL completa ou as variáveis individuais
# REDIS_URL=redis://localhost:6379/0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0