version: "3.8"

services:

    postgres:
      image: pgvector/pgvector:pg17
      container_name: riffhouse-db
      environment:
        - POSTGRES_DB=riffhouse
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
      restart: always

    rabbitmq:
      image: rabbitmq:3-management-alpine
      container_name: riffhouse-rabbitmq
      ports:
        - "5672:5672"
        - "15672:15672"
      healthcheck:
        test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: always

    mailhog:
      image: mailhog/mailhog
      container_name: riffhouse-mailhog
      ports:
        - "1025:1025"
        - "8025:8025"
      restart: always

    backend:
      image: lucasmcamargo/riffhouse-api:latest
      container_name: riffhouse-api
      ports:
        - "8080:8080"
      environment:
        - SPRING_PROFILES_ACTIVE=dev
        - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/riffhouse
        
        - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
        - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
        - JWT_SECRET=${JWT_SECRET}
        - MELHOR_ENVIO_API_TOKEN=${MELHOR_ENVIO_API_TOKEN}
        
        - SPRING_RABBITMQ_HOST=rabbitmq
        - SPRING_MAIL_HOST=mailhog
        - SPRING_MAIL_PORT=1025
      depends_on:
        postgres:
          condition: service_healthy
        rabbitmq:
          condition: service_healthy
      restart: on-failure

    ai-service:
      build: .
      container_name: riffhouse-ai
      restart: on-failure
      ports:
        - "8000:8000"
      depends_on:
        postgres:
          condition: service_healthy
        backend:
          condition: service_started 
      environment:
        - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/riffhouse
        - BACKEND_URL=http://backend:8080
        
        - GROQ_API_KEY=${GROQ_API_KEY}
        - GOOGLE_API_KEY=${GOOGLE_API_KEY}

    frontend:
      image: lucasmcamargo/riffhouse-client:latest
      container_name: riffhouse-client
      ports:
        - "80:80"
      depends_on:
        - backend
      restart: on-failure

volumes:
  postgres_data: